@model Capstone_EPICODE.Models.Parcheggio.Parking

<h2>Dettagli Parcheggio</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Disponibilità
        </dt>
        <dd class="col-sm-10">
            @(Model.IsAvailable ? "Disponibile" : "Occupato")
        </dd>
        <dt class="col-sm-2">
            Latitudine
        </dt>
        <dd class="col-sm-10">
            @Model.Latitude
        </dd>
        <dt class="col-sm-2">
            Longitudine
        </dt>
        <dd class="col-sm-10">
            @Model.Longitude
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifica</a> |
    <a asp-action="Index" class="btn btn-secondary">Indietro alla lista</a>
</p>
